.main-home .home-first {
    height: 550px;
}

.main-home .t-rec:nth-of-type(1) {
    background-color: #eee;
}

.main-header,
.main-header .logo-row .phone,
.main-header .main-nav .menu ul a
{
    color: white;

    opacity: .85;
}

.main-header .main-nav .menu .current_page_item a,
.main-header .main-nav .menu .current_menu_item a,
.main-header .main-nav .menu .current-lang a {
    opacity: 1;
}


.main-home .home-first .img-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 720px;
    width: auto;
    z-index: -1;
    opacity: 1;
    transition: opacity 700ms;
}

.main-home .home-first .btn-row {
    display: flex;
    flex-direction: row;
    height: 400px;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 25%;
    transition: all 2s ease-in;
    position: relative;
}

.main-home .home-first .btn-row .btn-line {
    background-color: transparent;
}

.main-home .home-first .btn-row .btn-line a {
    width: 210px;
}

.main-home .home-first .btn-row .btn-line a .t-btn {
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 0;
    padding-right: 0;

}

.main-home .home-first .btn-row .btn-line a .btn-submit {
    background: transparent !important;
}


.main-home .home-first .btn-row .btn-line a .btn-submit:hover {
    border: 8px double #ff7976;
    transition: 0.3s ease-in-out;
}


.main-home .home-first .t-cover__filter {
    width: 100%;
    height: 720px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.40));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.40));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.40));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.40));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.40));
}

.main-home .kowo-description {
    margin-bottom: 40px;
}

.main-home .kowo-description .row {
    display: flex;
    flex-direction: row;
    min-height: 400px;
    height: 508px;
    max-height: 800px;
}

.main-home .kowo-description .row .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #eee;
    width: 50%;
    padding-right: 150px;
    padding-left: 150px;

}

.main-home .kowo-description .row .content h2,
.main-home .kowo-description .row .content h3,
.main-home .kowo-description .row .content h4,
.main-home .kowo-description .row .content h5,
.main-home .kowo-description .row .content h6 {
    text-align: left;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 1.45;
    font-weight: 400;
}

.main-home .kowo-description .row .content p {
    padding-top: 20px;
    font-size: 20px;
    line-height: 1.55;
}

.main-home .kowo-description .row .img {
    width: 50%;
}

.main-home .kowo-description .gallery-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-image: -moz-linear-gradient(top, rgba(238, 238, 238, 0.9), rgba(238, 238, 238, 0.10));
    background-image: -webkit-linear-gradient(top, rgba(238, 238, 238, 0.9), rgba(238, 238, 238, 0.10));
    background-image: -o-linear-gradient(top, rgba(238, 238, 238, 0.9), rgba(238, 238, 238, 0.10));
    background-image: -ms-linear-gradient(top, rgba(238, 238, 238, 0.9), rgba(238, 238, 238, 0.10));
    background-image: linear-gradient(top, rgba(238, 238, 238, 0.9), rgba(238, 238, 238, 0.10));
}

.main-home .kowo-description .gallery-row .img {
    margin: 20px 10px 0 10px;
    height: 342px;
    width: calc(100%/4 - 20px);
}

.main-home .events-slider .slider-wrapper {
    height: 350px;
    display: flex;
    overflow: hidden;
}




@media (max-width: 1300px) {
    .main-home .home-first .btn-row {
        padding: 0 15%;
    }
}


@media (max-width: 960px) {
    .main-home .home-first .btn-row {
        padding: 0 10%;
    }
}

@media (max-width: 720px) {
    .main-home .home-first .btn-row {
        padding: 0 5%;
    }
}