.main-school .container {
    display: flex;
    justify-content: center;
}

.main-school .left-col,
.main-school .right-col {
    max-width: 560px;
    width: 100%;
    margin: 0 20px;
}

.main-school .description-block {
    padding: 75px 0;
}

.main-school .description-block .left-col h3,
.main-school .description-block .left-col h4,
.main-school .description-block .left-col h5,
.main-school .description-block .left-col h6 {
    padding-bottom: 34px;
}

.main-school .description-block .left-col p {
    padding-top: 8px;
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 1.55;
}

.main-school .description-block .right-col img {
    width: 100%;
}

.main-school .study-block {
    flex-direction: column;
    padding: 15px 0 60px 0;
}

.main-school .study-block .title-container {
    text-align: center;
    max-width: 1160px;
    width: 100%;
    margin: 0 20px 105px 20px;
}

.main-school .study-block .t-col-4 {
    line-height: 1.17;
    max-width: 360px;
    width: 100%;
    margin: 0 20px;
    text-align: center;
}

.main-school .study-block .t-col-4 img {
    margin-bottom: 25px;
    height: auto;
    max-width: 100%;
}

.main-school .study-block .t-col-4 .t-col-4-title {
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
}

.main-school .study-block .t-col-4 .t-col-4-after-title {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600;
}

.main-school .study-block .t-col-4 .t-col-4-descr {
    font-size: 16px;
    line-height: 1.55;
}

.main-school .vesnasoft .left-col h5 {
    padding-bottom: 20px;
}

.main-school .vesnasoft .left-col .content-block {
    font-size: 18px;
    line-height: 26px;
}

.main-school .vesnasoft .left-col .content-block a {
    color: #ff8562;
    text-decoration: none;
}

.main-school .vesnasoft .right-col .video-block {
    height: 315px;
    background-color: #000;
}

.main-school .vesnasoft .right-col .video-caption {
    margin-top: 20px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    padding-bottom: 7px;
}