.main-available-place {
padding: 60px 0;
}

.main-available-place .return-back {
    display: block;
    font-size: 18px;
    padding-bottom: 20px;
}

.main-available-place .return-back:hover {
    color: rgb(255, 121, 118);
}

.main-available-place h4 {
    font-weight: 700;
    margin-bottom: 18px;
    padding: 0 40px;
    text-align: center;
    font-size: 24px;
    line-height: 1.35;
}

.main-available-place .main-content {
    padding: 0 60px 0 90px;
    font-size: 18px;
    line-height: 1.55;
}

.main-available-place .main-content a {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(255, 121, 118);
}

.main-available-place .main-content p {
    padding-bottom: 20px;
}

.main-available-place .photo-section {
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
}

.main-available-place .photo-section .slider .img {
    height: 420px;
    width: 70%;
    margin: 0 auto;
}

