article .main-content {
    padding: 0 80px;
}

article .main-content .current-item {
    max-width: 100%;
}

article .main-content .current-item h2 {
    color: #000;
    font-size: 32px;
    line-height: 1.23;
    margin: 20px 0;
    text-align: center;
    padding: 0 40px;
}

article .main-content .current-item p {
    font-size: 20px;
    margin-top: 20px;
}

article .main-content .current-item img {
    display: flex;
    margin: 20px auto 10px auto;
}

article .main-content .current-item .btn-row {
    text-align: center;

}

article .main-content .current-item .btn-row a {
    font-size: 16px;
}

.return-back {
    display: block;
    font-size: 18px;
    padding: 20px 0 20px 10px;
}

.return-back:hover {
    color: rgb(255, 121, 118);
}