.page-404 {
    height: 67vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: -moz-linear-gradient(top, rgba(256, 256, 256, 1), rgba(238, 238, 238, 1));
    background-image: -webkit-linear-gradient(top, rgba(256, 256, 256, 1), rgba(238, 238, 238, 1));
    background-image: -o-linear-gradient(top, rgba(256, 256, 256, 1), rgba(238, 238, 238, 1));
    background-image: -ms-linear-gradient(top, rgba(256, 256, 256, 1), rgba(238, 238, 238, 1));
    background-image: linear-gradient(top, rgba(256, 256, 256, 1), rgba(238, 238, 238, 1));
}

.page-404 h2 {
    margin-top: 50px;
    position: relative;
    font-size: 44px;
    text-align: center;
}

.page-404 a {
    margin: 50px 0;
    position: relative;
    font-size: 34px;
    line-height: 40px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    display: block;
}

.page-404 a:hover {
    cursor: pointer;
    opacity: 0.7;
}
