.main-header {
    width: 100%;
    position: relative;
}
.main-header .main-nav {
    display: flex;
    position: relative;
    height: 100%;
}

.main-header {
    background: #D9B25F;
}

.main-header .fon {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    display: flex;
}

.main-header .fon .lines {
    width: 40%;
    height: 100%;
    background: url('../img/textura-header-main.png') repeat-y;
}

.main-header .fon .image {
    width: 60%;
    height: 100%;
    background-color: beige;
    background-size: cover;
    position: relative;
}

.main-header .fon .image::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    opacity: .58;
    background-color: #000000
}