.btn-line {
    padding: 30px 0 10px 0 !important;
}

#footer {
    height: 80px;
    background-color: #eeeeee;
    color: #000;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.35;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
}

#footer .footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px 0;
    margin: 0 auto;
}


#footer .footer-main .social-links {
    display: flex;
    width: 880px;
    justify-content: center;
    flex-direction: row;
}

#footer .footer-main .social-links a {
    padding: 0 4px;
}

#footer .footer-main .left-col {
    text-align: left;
}

#footer .footer-main .right-col {
    text-align: right;
}

#footer .footer-main .right-col, #footer .footer-main .left-col {
    min-width: 170px;
}

#footer .footer-main .right-col .scroll-top {
    position: relative;
    padding-right: 12px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#footer .footer-main .right-col .scroll-top svg {
    margin: 0 0 -2px 2px;
}

.btn-line {
    background-color: #eee;
}


@media (max-width: 620px) {
    #footer {
        height: 180px;
    }

    #footer .footer-main {
        flex-direction: column;
        justify-content: center;
    }

    #footer .footer-main .social-links div {
        margin: 0 10px;
    }

    #footer .footer-main .left-col {
        min-width: auto;
    }

    #footer .footer-main div {
        margin-top: 20px;
    }
}

@media (max-width: 460px) {
    #footer .footer-main {
        padding-top: 12px;
    }
}