.kowo-accessories {
    padding-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
}

.kowo-accessories .title {
    margin-bottom: 90px;
}

.kowo-accessories .column-wrapper {
    display: flex;
   flex-flow: row wrap;
    justify-content: space-around;
}

.kowo-accessories .column-wrapper .t-col {
    max-width: 360px;
    margin: 0 20px 30px 20px;
    width: 100%;
}

.kowo-accessories .column-wrapper .t-col .icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 25px auto;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.kowo-accessories .column-wrapper .t-col .caption {
    padding: 0 20px;
    margin-bottom: 25px;
    margin-top: 12px;
    font-size: 20px;
    line-height: 1.17;
    font-weight: 600;
    text-align: center;
}

@media (max-width: 820px) {
    .kowo-accessories .title {
        margin-bottom: 40px;
    }
}


@media (max-width: 540px) {
    .kowo-accessories {
        margin-bottom: 10px;
    }
}