.available-places {
    margin: 0 100px 10px 100px;
}

.available-places h4 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.available-places .photo-container {
    background-color: transparent;
}