.btn-line {
    padding: 15px 0;
    box-sizing: content-box;
}

.white-background-line {
    background-color: white;
}

.btn-line .btn-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.btn-line .btn-container a {
    color: #ff8562;
    text-decoration: none;
}

.btn-line .btn-container .btn-submit {
    color: #fff;
    border: 3px solid #ff7976;
    background: #ff7976 !important;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    font-family: 'Open Sans', Arial, sans-serif;
    text-align: center;
    line-height: 60px;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    font-weight: 700;
    background: none;
    cursor: pointer;
    box-sizing: content-box;
}


.btn-line .btn-container .green-background:hover {
    background-color: #a7ce5b !important;
    border-color: #a7ce5b;
}


.t-btn[data-btneffects-first="btneffects-light"] .t-btn_wrap-effects {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    transform: translateX(-60px);
    -webkit-animation-name: light;
    animation-name: light;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


.t-btn[data-btneffects-first="btneffects-light"] .t-btn_effects {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0));
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0));
}

@-webkit-keyframes light {
    20% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes light {
    20% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@-webkit-keyframes light-md {
    30% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes light-md {
    30% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@-webkit-keyframes light-lg {
    40% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes light-lg {
    40% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}