.calendar {
    margin: 20px 0;
}

#datepicker {
    padding: 30px 200px;
}

#datepicker .ui-datepicker {
    width: 100%;
}

#datepicker .ui-datepicker .ui-datepicker-title {
    font-family:  'Open Sans',Arial,sans-serif;
    font-size: 20px;
    line-height: 1.35;
}

#datepicker .ui-datepicker .ui-datepicker-calendar th,
#datepicker .ui-datepicker .ui-datepicker-calendar td a {
    font-family:  'Open Sans',Arial,sans-serif;
    font-size: 18px;
}

#datepicker .ui-datepicker.ui-widget td a.ui-state-active {
     background: #ff7976;
 }

#datepicker .ui-datepicker.ui-widget td a.ui-state-active:hover {
    background: #cc6360;
    cursor: pointer;
}

#datepicker .ui-datepicker.ui-widget td a.ui-state-active:hover:after{
    display: block;
}


#datepicker .ui-datepicker .ui-datepicker-calendar td:hover {
    cursor: default;
}

#datepicker .ui-datepicker .ui-datepicker-calendar td a:hover {
    background: #a7ce5b;
    cursor: default;
}

#datepicker .ui-datepicker.ui-widget .ui-corner-all a {
    background: rgba(188, 251, 38, 0.23);
    color: #ff7976;
}

#datepicker .ui-datepicker.ui-widget .ui-icon {
    font-weight: 700;
}

#datepicker .ui-datepicker td .has-event {
    cursor: pointer !important;
    color: #fff;
    background: #a7ce5b;
}

#datepicker .ui-datepicker td a.has-event.ui-state-active {
    background: #a7ce5b;
    border: 2px solid #ff7976;
}