.photo-section {
    padding: 25px 10px 20px 10px;
    min-height: 1px;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
}

.photo-section .slider {
    min-width: 25%;
    padding: 20px 10px 0 10px;
}


.photo-section .slider .img {
    height: 340px;
}