.slider-wrapper, .slider-nowrapper {
    display: flex;
    flex-direction: column;
}

.slick-slide {
    margin: 0 30px;
}

.slick-slide {
    /*width: 720px !important;*/
    min-height: 350px;
}

.slick-slide .news img {
    max-width: 720px;
    width: 100%;
    height: 350px;
}

.slider-nowrapper  .slick-list .slick-track {
    width: fit-content !important;
    width: -moz-fit-content !important;
}

.slick-dots {
    display: flex;
    justify-content: center;
    z-index: 8;
    margin-left: 70px;
    margin-top: -30px;
}

.slick-dots button {
    font-size:0;
    padding:0;
}

.slick-dots li button {
    visibility: hidden;
    width:10px;
    height:10px;
}

.slick-dots li {
    padding: 0 10px;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.slick-dots .slick-active {
    color: black;
}

@media (max-width: 1600px) {
    .slick-slide {
        min-height: 300px;
    }

    .slick-slide .news img {
        height: 300px;
    }
}


