.main-home section.review-block .container .reviews-slider {
    width: 100%;
    height: 100%;
        overflow: hidden;
}

.main-home section.review-block .container .reviews-slider .slick-list .slick-slide div .review {
    display: flex !important;
    background: #FFFFFF;
    padding: 21px 16px 0 19px;
    width: 100%;
    height: 100%;
}

.main-home section.review-block .container .reviews-slider .slick-list .slick-slide > div {
    max-width: 528px;
    width: 100%;
    min-height: 208px;
}

.main-home section.review-block .container .reviews-slider .slick-list .slick-slide div .review {
    display: flex !important;
    background: #FFFFFF;
    padding: 21px 16px 0 19px;
    max-width: 528px;
    width: 100%;
}
.reviews-slider .slick-list .slick-slide {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.reviews-slider .slick-list .slick-slide[aria-hidden='true'] {
    opacity: 0;
    transition: .1s opacity linear;
}
.main-home section.review-block .container .reviews-slider .slick-list {
    padding: 26px 0 29px 36px;
}

.main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
    margin-right: 50px;
}

.reviews-slider .slick-list .slick-slide div .review .left-col .icon-review {
    max-width: 70px;
    width: 100%;
    max-height: 70px;
    height: 100%;
    border-radius: 50%;
}

.slick-dots {
    display: flex;
    align-self: self-end;
    justify-content: center;
    list-style: none;
    z-index: 8;
    height: 20px;
    width: 100%;
    margin: 25px auto 0;
}

[id^="slick-slide-"]::after {
    content: '';
    width: 25%;
    height: 25%;
    border-radius: 50%;
    background: white;
}

li.slick-active [id^="slick-slide-"]::after {
    background: #D9B25F;
}

li.slick-active [id^="slick-slide-"] {
    background: #D9B25F;
}

[id^="slick-slide-"] {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 20px;
    font-size: 0;
    max-width: 14px;
    max-height: 14px;
    width: 100%;
    height: 100%;
    border: none;
    outline: transparent;
    background-color: #C4C4C4;;
}

.slick-dots button {
    font-size: 0;
}

.main-home section.review-block .container .reviews-slider .review .right-col .review-info {
    max-width: 402px;
    width: 100%;
    min-height: 108px;
    margin-bottom: 12px
}

@media (max-width: 1181px) {
    .main-home section.review-block .container .reviews-slider .review .right-col .review-info {
        max-width: 662px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list {
        padding: 20px 0 0;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        margin: 0 20px;
        width: 940px!important;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide.slick-active {
        margin-right: 20px;
    }

    .main-home section.review-block .container .reviews-slider {
        max-width: 980px;
        margin: 0 auto
    }

    .main-home section.review-block .container .reviews-slider .slick-list {
        height: 250px;
    }

    .main-home section.review-block .container .reviews-slider .review .right-col .review-info {
        max-width: 662px;
        width: 100%;
        margin-bottom: 15px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide div .review {
        max-width: 100%;
        width: 100%;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide > div {
        max-width: 100%;
        width: 100%;
    }

    .main-home section.review-block .container .reviews-slider .review .right-col {
        max-width: 695px !important;
        width: 100%;
    }

    .main-home section.review-block .container .reviews-slider .review .left-col {
        max-width: 92px !important;
        width: 100%;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide div .review {
        padding: 21px 16px 0 19px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide > div {
        height: 168px;
    }
}

@media (max-width: 1000px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 900px;
        margin: 0 auto
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 860px!important;
    }

    .reviews-slider .slick-list .slick-slide[aria-hidden='true'] {
        opacity: 1;
    }
}

@media (max-width: 910px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 800px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 760px!important;
    }
}

@media (max-width: 810px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 700px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 660px!important;
    }
}

@media (max-width: 710px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 600px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 560px!important;
    }
}

@media (max-width: 630px) {
    .main-home section.review-block .container .reviews-slider .review .right-col .review-info {
        max-width: 420px;
        width: 100%;
    }

    .main-home section.review-block .container .reviews-slider {
        max-width: 580px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 540px!important;
    }

    .main-home section.review-block .container .reviews-slider .review .right-col {
        padding-left: 20px;
    }
}

@media (max-width: 600px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 500px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 460px!important;
    }

    .main-home section.review-block .container .reviews-slider .review .right-col .review-info {
        min-height: 133px !important;
        max-height: 134px !important;
        height: 133px !important;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide > div {
        height: 234px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list {
        height: 268px;
    }
}

@media (max-width: 520px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 490px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 450px!important;
    }
}

@media (max-width: 510px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 480px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 440px!important;
    }
}

@media (max-width: 500px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 470px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 430px!important;
    }


    .review-block .container {
        width: 100%;
    }
}

@media (max-width: 460px) {
    .main-home section.review-block .container .reviews-slider .review .right-col .review-info {
        max-width: 284px;
        width: 100%;
    }
}

@media (max-width: 490px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 480px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 450px!important;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        margin: 0 15px !important;
    }
}

@media (max-width: 480px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 470px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 440px!important;
    }
}

@media (max-width: 470px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 460px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 430px!important;
    }
}

@media (max-width: 460px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 450px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 420px!important;
    }
}

@media (max-width: 450px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 440px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 410px!important;
    }
}

@media (max-width: 440px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 430px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 400px!important;
    }

    .review-info {
        font-size: 11px;
    }
}

@media (max-width: 430px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 420px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 390px!important;
    }
}

@media (max-width: 420px) {
    .main-home section.review-block .container .reviews-slider .review .right-col {
        padding-left: 0;
    }

    .main-home section.review-block .container .reviews-slider {
        max-width: 410px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 380px!important;
    }

    .review-info {
        font-size: 10px;
    }

    .main-home section.review-block .container .reviews-slider .review .right-col {
        max-width: 73% !important;
        width: 100% !important;
    }

    .main-home section.review-block .container .reviews-slider .review .left-col {
        max-width: 27% !important;
        width: 100% !important;
    }
}

@media (max-width: 410px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 400px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 370px!important;
    }
}

@media (max-width: 400px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 390px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 360px!important;
    }
}

@media (max-width: 390px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 380px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 350px!important;
    }
}

@media (max-width: 380px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 370px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 340px!important;
    }

    .main-home section.review-block .container .reviews-slider .review .right-col {
        max-width: 70% !important;
        width: 100% !important;
    }

    .main-home section.review-block .container .reviews-slider .review .left-col {
        max-width: 30% !important;
        width: 100% !important;
    }
}

@media (max-width: 370px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 360px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 330px!important;
    }

    .main-home section.review-block .container .reviews-slider .review .right-col .name-review {
        font-size: 12px !important;
    }
}

@media (max-width: 360px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 350px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 320px!important;
    }
}

@media (max-width: 350px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 340px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 310px!important;
    }

    .reviews-slider .slick-list .slick-slide div .review .left-col .icon-review {
        max-width: 65px;
        max-height: 65px;
    }

    .review-info {
        font-size: 9px;
    }
}

@media (max-width: 350px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 340px;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 310px!important;
    }
}

@media (max-width: 330px) {
    .main-home section.review-block .container .reviews-slider {
        max-width: 100%;
    }

    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 300px!important;
    }
}

@media (max-width: 320px) {
    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 290px!important;
    }
}

@media (max-width: 310px) {
    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 280px!important;
    }
}

@media (max-width: 300px) {
    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 270px!important;
    }
}

@media (max-width: 290px) {
    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 260px!important;
    }
}

@media (max-width: 280px) {
    .main-home section.review-block .container .reviews-slider .slick-list .slick-slide {
        width: 250px!important;
    }

    .reviews-slider .slick-list .slick-slide div .review .left-col .icon-review {
        max-width: 55px;
        max-height: 55px;
    }
}

